.app {
  text-align: center;
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: #343a40;
  padding: 10px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

nav a.active {
  font-weight: bold;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}
